jupyterlite-core==0.7.1
jupyterlite-pyodide-kernel==0.7.0
jupyter-server
pandas>=2.0.0
matplotlib>=3.7.0
numpy>=1.24.0
scipy>=1.10.0
jupyterlab-geojson
ipywidgets
ipyleaflet
openpyxl
pyarrow
requests
